@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    background-color: grey;
    height: 100vh;
    width: 100vw;
    }
    header{
        background-color: rgba(117, 25, 229, 0.502);
        color: white;
        padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    header > h1{
        border-radius: 10px;
        flex: 0 0 150px;
    }
    header > nav > a{
        background-color: black;
        color: white;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
    }
    header > nav > a:hover{
        background-color: white;
        color: black;
        transition: background-color .8s;
    }
    nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    main{
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }